<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- imporatar css-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- importar google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- importar google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- importar google fonts-->
</head>
<body>
    <header class="header img-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="{{ url_for('index' ) }}">Mi Logo</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.register')}}">Registro</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.login')}}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('Nosotros' ) }}">Sobre Nosotros</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- termina la barra de navegacion -->
        <
        <p class="text-center h1">¡Bienvenidos a su hogar lejos de casa!</p>
        <p class="text-center h3">Obtenga lujo y comodidad</p>
        <!-- termina el texto centrado -->
        <div class="mx-auto mt-5 text-center">
          <button type="button" class="btn btn-personalizado">Conocenos</button>
        </div>
      </header>
     <!--Bloque de Contenido-->
      {% block content %}
      {% endblock %}

      <footer class="mt-5">
        <div class="row container">
          <div class="col-6 text-start">
            <p class="h5">Hotel Las Palmas - Todos los derechos reservados &copy; 2024</p>
          </div>
          <div class="col-6 text-end">
            <p class="h5">Dirección: 123 Calle Principal, Ciudad, País</p>
            <p class="h5" >Teléfono: +1234567890 | Correo electrónico: info@hotellaspalmas.com</p>
          </div>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
