{% extends 'base.html' %}  {% block title %}Sobre Nosotros{% endblock %}
{% block content %}
<div class="container text-center">
  <div class="row justify-content-start">
    <div class="col-4">
      <h1>Mision</h1>
      <p>
        En Hotel Las Palmas, nos comprometemos a brindar a nuestros huéspedes
        una experiencia excepcional de hospitalidad, donde la comodidad, la
        calidad y el servicio sobresalen en cada estancia. Nos esforzamos por
        crear un ambiente acogedor y memorable que refleje la calidez y la
        belleza de nuestro entorno, convirtiendo cada visita en una experiencia
        inolvidable.
      </p>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-start">
      <div class="col-4">
        <h1>Vision</h1>
        <p>
          En Hotel Las Palmas, nos comprometemos a brindar a nuestros huéspedes
          una experiencia excepcional de hospitalidad, donde la comodidad, la
          calidad y el servicio sobresalen en cada estancia. Nos esforzamos por
          crear un ambiente acogedor y memorable que refleje la calidez y la
          belleza de nuestro entorno, convirtiendo cada visita en una
          experiencia inolvidable.
        </p>
      </div>
    </div>
  </div>

  
</div>
{% endblock %} 
